<nav class="navbar header-nav-bar" id="menuitems">
  <a href="/" style="align-self: center">
    <img src="./assets/BoldSign.svg" />
  </a>
  <div class="navbar-menuitems">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://boldsign.com/help/api/"
          >Documentation</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://api.boldsign.com/swagger/index.html"
          >Rest API reference</a
        >
      </li>
    </ul>
    <a
      href="https://account.boldsign.com/signup?planId=101"
      class="btn free-trial-btn"
      >Free trial</a
    >
  </div>
</nav>
